/foodie-dev-api/target/
/foodie-dev-common/target/
/foodie-dev-mapper/target/
/foodie-dev-pojo/target/
/foodie-dev-service/target/
.idea
*.iml
out
gen
/.apt_generated/
/.classpath
/.factorypath
/.project
/.settings/
/.springBeans
.DS_Store
/user-profile-analysis.iml
/.idea